html {
  font-size: 62.5%;
}

*,
body {
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: #ff69b4;
  color: #e4eef1;
  font-size: 2.4rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .logo figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo figure img {
  width: 10rem;
  height: 10rem;
}
header .logo h1 {
  font-weight: 700;
}
header nav {
  width: 60%;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #e4eef1;
  transition: color 0.3s;
  cursor: pointer;
  transition: font-weight 0.3s;
}
header nav ul li a:hover {
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  justify-content: space-between;
}
main section p {
  font-size: 2.4rem;
  width: 60%;
  line-height: 4rem;
  text-align: justify;
}
main section figure {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about {
  background-color: #ffd9ec;
}
main .awareness {
  background-color: #ff69b4;
  color: #e4eef1;
  flex-direction: row-reverse;
}
main .tips {
  background-color: #ffd9ec;
  justify-content: space-evenly;
  padding: 8rem 4rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #ff69b4;
  font-size: 2rem;
  color: #e4eef1;
}
footer nav,
footer div,
footer figure {
  width: 33.3%;
}
footer nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer nav ul li a figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav ul li a figure img {
  width: 7.5rem;
  transition: transform 0.3s;
  cursor: pointer;
}
footer nav ul li a figure:hover img {
  transform: scale(1.1);
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer div p {
  text-align: center;
}
footer figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer figure img {
  width: 12.5rem;
}

@media screen and (max-width: 912px) {
  header {
    height: auto;
    flex-direction: column;
    padding: 4rem;
    gap: 4rem;
  }
  header .logo {
    flex-direction: column;
    gap: 1rem;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    justify-content: space-around;
    gap: 3rem;
  }
}
@media screen and (max-width: 1180px) {
  main .about,
  main .awareness {
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem;
  }
  main .about p,
  main .awareness p {
    width: 100%;
  }
  main .about figure,
  main .awareness figure {
    width: 100%;
  }
  main .tips {
    padding: 4rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;
  }
  footer {
    flex-direction: column;
    gap: 4rem;
  }
  footer div,
  footer nav,
  footer figure {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  header {
    font-size: 2rem;
  }
  header nav ul {
    flex-direction: column;
    gap: 4rem;
  }
  main .about,
  main .awareness {
    padding: 4rem;
  }
  main .about p,
  main .awareness p {
    text-align: center;
    font-size: 2rem;
  }
  main .about figure img,
  main .awareness figure img {
    width: 100%;
  }
  main .tips {
    padding: 4rem 2rem;
    flex-direction: column;
  }
  main .tips figure img {
    width: 20rem;
  }
  footer {
    font-size: 1.6rem;
  }
  footer nav ul li a figure img {
    width: 5rem;
  }
  footer figure img {
    width: 10rem;
  }
}/*# sourceMappingURL=style.css.map */